@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  background-color: rgb(241, 205, 184);
  text-align: center;
}

h1 {
  color: #f50886;
  font-size: 50px;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}

/* reset button */
#btn {
  margin: 0 auto 50px;
  padding: 15px 20px;
  font-size: 20px;
  font-family: 'Architects Daughter';
  color: brown;
  border: 1px solid brown;
  border-radius: 4px;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(245, 196, 211);
}

#container {
  margin: 0 auto;
  width: 960px;
  height: 960px;
  background-color: rgb(189, 47, 22);
  border: 2px solid rgb(107, 69, 69);
  border-radius: 6px;
  display: grid;
}

.mini-div {
  border: 1px solid #817d7d;
  border-radius: 5px;
  background-color: rgb(224, 143, 143);
}

.hovered {
  background-color: #fff;
}
